@import url('_variables.css');
.main-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.semi-container {
    box-shadow: 5px 5px 5px 5px rgba(0.2, 0.1, 0.2, 0.4);
    background-image: linear-gradient(transparent 23px, rgba(0, 0, 0, 0.3) 24px);
    background-size: 100% 24px;
    line-height: 24px;
    background-color: var(--color-yellow);
    border-radius: 15px;
    min-height: 500px;
    min-width: 950px;
}

.add-button-space{
    margin:30px;
}

.employee-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    border: none;
}

    .employee-table th,
    .employee-table td {
        border: none;
        padding: 12px;
        text-align: left;
        font-size: 1rem;
    }

    .employee-table th {
        background-color: var(--color-blue);
        color: var(--color-yellow);
        font-weight: 600;
        text-transform: uppercase;
    }

    .employee-table tr {
        background-color: transparent;

    }

/*        .employee-table tr:hover {
            background-color: var(--color-orange);
        }*/

.action-link {
    color: var(--color-blue);
    text-decoration: none;
    font-weight: 500;
}

    .action-link:hover {
        text-decoration: underline;
    }

.form-label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
        color: var(--color-blue);
    }

    .form-group input {
        width: calc(100% - 24px);
        padding: 8px 10px;
        font-size: 1rem;
        border: 1px solid var(--color-dark-orange);
        border-radius: 5px;
        box-sizing: border-box;
        outline: none;
        transition: border-color 0.3s ease;
    }

        .form-group input:focus {
            border-color: var(--color-blue);
        }

/* gridview */
.gridview-pager {
    text-align: center;
}

    .gridview-pager a,
    .gridview-pager span {
        display: inline-block;
        font-size: 1rem;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .gridview-pager .selected-page {
        background-color: var(--color-blue);
        color: var(--color-yellow);
        border-color: var(--color-blue);
    }

    .gridview-pager a:hover {
        color: var(--color-blue);
    }

