html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-blue);
    color: var(--color-yellow);
    width: 100%;
    margin-top: auto;
    padding: 10px 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

    footer p {
        margin: 0;
        font-size: 0.9em;
    }

    footer a {
        color: var(--color-dark-orange);
        text-decoration: none;
        font-weight: bold;
    }

        footer a:hover {
            color: var(--color-orange);
        }

