@import url('_variables.css');

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar {
    border-radius: 25px;
    height: fit-content;
    display: flex; /* Use flexbox for horizontal layout */
    background-color: rgba(60, 12, 28, 0.6); /* Using --color-dark-orange with opacity */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin: 10px 0 0 0;
}

.menu-item {
    margin: 0 8px;
    padding: 12px 16px;
    color: var(--color-yellow); /* Bright color for text */
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: inline-block; /* Make sure the <a> elements behave like inline-blocks */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    position: relative; /* For ::before pseudo-element */
    white-space: nowrap;
}

    .menu-item::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        transition: 0.2s;
        border-radius: 25px;
    }

    .menu-item:hover::before {
        background-color: var(--color-blue); 
        box-shadow: 0px 3px 20px 0px var(--color-black);
        transform: scale(1.2);
    }

    .menu-item:hover {
        color: var(--color-yellow);
    }
