@import url('_variables.css');

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
    color: var(--color-blue);
    /*overflow: hidden;*/
}

h1 {
    font-weight: 800;
    text-align: center;
    color: var(--color-blue);
    font-size: 2rem;
    margin-bottom: 20px;
}

.btn {
    display: block;
    padding: 12px;
    background-color: var(--color-blue);
    color: var(--color-yellow);
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn:hover {
        background-color: var(--color-orange);
        color: var(--color-blue);
    }

.form-label {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}