@import url('_variables.css');

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
    color: var(--color-blue);
    /*overflow: hidden;*/
}

h1 {
    font-weight: 800;
    text-align: center;
    color: var(--color-blue);
    font-size: 2rem;
    margin-bottom: 20px;
}

.form-label {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

/* Buttons */
.btn {
    background-color: var(--color-blue);
    display: inline-block;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    color: var(--color-yellow);
}
.large-btn {
    font-size: 36px;
}
.btn:hover {
    transform: scale(1.1);
    color: var(--color-yellow);
    background-color: var(--color-dark-blue);
}

.btn-delete {
    background-color: var(--color-red);
}

.btn-delete:hover {
    background-color: var(--color-dark-red);
}

.hide-checkbox {
    display: none; 
}