:root {
    --color-yellow: #fffc99;
    --color-orange: #ffc501;
    --color-dark-orange: #e6a300;
    --color-blue: #22329b;
    --color-dark-blue: #1c2a82;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-red: #d60000;
    --color-dark-red: #b30000;
}
